@font-face {
  font-family: Unbounded;
  src: url('/fonts/Unbounded-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Hauss;
  src: url('/fonts/hauss_var.ttf') format('truetype');
  font-display: swap;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-family: Unbounded, sans-serif;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  margin: 0px;
}